@use 'sass:math';

@mixin create-flexbox($justify) {
    display: flex;
    align-items: center;
    justify-content:$justify;
}

@mixin add-background($url){
    background-image: url($url);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@function pixeles-rem($pixeles) {
    $rem: math.div($pixeles, 16) * 1rem;

    @return $rem;
}